In [2]:
import pandas as pd
import csv
import json

In [3]:
# 데이터 불러오기
df = pd.read_csv('../byeongmin/5,6모델 사용/각 연도별예측결과값.csv', encoding='euc-kr')
df

          code    month6     year1     year2     year3
0   2920011700  35269.40  36766.22  38358.59  39950.95
1   2920010100  35269.97  36766.79  38359.16  39951.52
2   2915510800  36876.11  38372.93  39965.30  41557.66
3   2917010800  36340.65  37837.47  39429.83  41022.20
4   2917011400  36340.43  37837.26  39429.62  41021.98
..         ...       ...       ...       ...       ...
81  2917010400  36340.79  37837.61  39429.98  41022.34
82  2911010100  38482.75  39979.57  41571.93  43164.30
83  2915511100  36876.00  38372.83  39965.19  41557.55
84  2917010200  36340.86  37837.68  39430.05  41022.41
85  2915512100  36875.65  38372.47  39964.83  41557.20

[86 rows x 5 columns]

In [71]:
df.drop(['하위'], axis=1)

         법정동코드     시도  시군구   읍면동         위도          경도 코드종류
0   2911052500  광주광역시   동구   충장동  35.149211  126.917783    H
1   2911054500  광주광역시   동구   동명동  35.150568  126.925425    H
2   2911056000  광주광역시   동구  계림1동  35.158538  126.919569    H
3   2911057000  광주광역시   동구  계림2동  35.158130  126.923383    H
4   2911059000  광주광역시   동구  산수1동  35.157330  126.930703    H
..         ...    ...  ...   ...        ...         ...  ...
90  2920066000  광주광역시  광산구   동곡동  35.098697  126.772108    H
91  2920067000  광주광역시  광산구    평동  35.124653  126.760276    H
92  2920068000  광주광역시  광산구   삼도동  35.128304  126.691671    H
93  2920069000  광주광역시  광산구   본량동  35.180771  126.728816    H
94  2920070000  광주광역시  광산구   신창동  35.190432  126.846612    H

[95 rows x 7 columns]

In [73]:
# 데이터프레임화
df2 = pd.DataFrame(df, columns=['법정동코드', '시군구', '읍면동', '위도', '경도'])
df2

         법정동코드  시군구   읍면동         위도          경도
0   2911052500   동구   충장동  35.149211  126.917783
1   2911054500   동구   동명동  35.150568  126.925425
2   2911056000   동구  계림1동  35.158538  126.919569
3   2911057000   동구  계림2동  35.158130  126.923383
4   2911059000   동구  산수1동  35.157330  126.930703
..         ...  ...   ...        ...         ...
90  2920066000  광산구   동곡동  35.098697  126.772108
91  2920067000  광산구    평동  35.124653  126.760276
92  2920068000  광산구   삼도동  35.128304  126.691671
93  2920069000  광산구   본량동  35.180771  126.728816
94  2920070000  광산구   신창동  35.190432  126.846612

[95 rows x 5 columns]

In [6]:
# 데이터프레임을 JSON 파일로 내보내기
output_file = 'result2.json'
with open(output_file, 'w', encoding='utf-8') as json_file:
    json_file.write(df.to_json(orient='records', force_ascii=False, indent=2)) # indent = 줄바꿈 
print('JSON 파일이 생성되었습니다.')

JSON 파일이 생성되었습니다.